# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.

[mysqld]

user         	= mysql
pid-file     	= /run/mysqld/mysqld.pid
socket       	= /run/mysqld/mysqld.sock
datadir      	= /var/lib/mysql
basedir			= /usr
skip-networking = false
bind-address	= 0.0.0.0
port         	= 3306
